<div class="modal-header">
  <div class="modal-title" *ngIf="record.id > 0; else elseTemplete">修改流水号配置</div>
  <ng-template #elseTemplete>新增流水号配置</ng-template>
</div>
<nz-spin *ngIf="!formData" class="modal-spin"></nz-spin>
<sf *ngIf="formData" #sf mode="edit" [schema]="schema" compact="false" [ui]="ui" [formData]="formData" button="none">
  <div nz-row style="border: 1px dashed #4a798c; padding: 20px;">
    <div nz-col nzSpan="12">
      <nz-timeline>
        <nz-timeline-item
          >流水号配置说明：{{ '{' }}yyyy{{ '}' }}{{ '{' }}MM{{ '}' }}{{ '{' }}dd{{ '}' }}{{ '{' }}NO{{ '}' }}</nz-timeline-item
        >
        <nz-timeline-item>年：{{ '{' }}yyyy{{ '}' }}:表示年份 {{ '{' }}yy{{ '}' }}:表示短年份</nz-timeline-item>
        <nz-timeline-item>月：{{ '{' }}MM{{ '}' }}:如1月份表示为01 {{ '{' }}mm{{ '}' }}:如1月份表示为1</nz-timeline-item>
        <nz-timeline-item>日：{{ '{' }}DD{{ '}' }}:如1号表示为01 {{ '{' }}dd{{ '}' }}:如1号表示为1</nz-timeline-item>
        <nz-timeline-item>流水号：{{ '{' }}NO{{ '}' }}:表示前面补零 {{ '{' }}no{{ '}' }}:表示后面补零</nz-timeline-item>
      </nz-timeline>
    </div>
    <div nz-col nzSpan="12">
      <nz-timeline>
        <nz-timeline-item>流水号生成规则说明：</nz-timeline-item>
        <nz-timeline-item>0.递增，流水号一直增加。</nz-timeline-item>
        <nz-timeline-item>1.每天生成。每天从初始值开始计数。</nz-timeline-item>
        <nz-timeline-item>2.每月生成。每月从初始值开始计数</nz-timeline-item>
        <nz-timeline-item>3.每年生成。每年从初始值开始计数。</nz-timeline-item>
      </nz-timeline>
    </div>
  </div>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" nzType="primary" (click)="saveOrUpdate(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading">
      保存
    </button>
  </div>
</sf>
