<div class="modal-header">
  <div class="modal-title">查看 {{ record.configId }} 参数设置信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i">
  <sv label="参数主键">{{ i.configId }}</sv>
  <sv label="参数名称">{{ i.configName }}</sv>
  <sv label="参数键名">{{ i.configKey }}</sv>
  <sv label="参数键值">{{ i.configValue }}</sv>
  <sv label="系统内置">{{ i.configType }}</sv>
  <sv label="备注">{{ i.remark }}</sv>
  <sv label="创建时间">{{ i.createTime }}</sv>
  <sv label="创建人">{{ i.createBy }}</sv>
  <sv label="修改时间">{{ i.updateTime }}</sv>
  <sv label="修改人">{{ i.updateBy }}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
