<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" *ngIf="selectedNode > 0" nz-button nzType="primary">新增</button>
    <button
      *ngIf="selectedNode > 0"
      nz-popconfirm
      nzPopconfirmTitle="确定要删除吗?"
      (nzOnConfirm)="confirm()"
      nzPopconfirmPlacement="bottom"
      nz-button
      nzType="danger"
    >
      删除
    </button>
  </ng-template>
</page-header>
<nz-card>
  <!-- <nz-input-group [nzSuffix]="suffixIcon">
    <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template> -->
  <div nz-row>
    <div nz-col nzSpan="5">
      <nz-tree
        [nzData]="treeNodes"
        [nzExpandAll]="true"
        [nzSearchValue]="searchValue"
        (nzClick)="nzEvent($event)"
        (nzExpandChange)="nzEvent($event)"
        (nzSearchValueChange)="nzEvent($event)"
      ></nz-tree>
    </div>
    <div nz-col nzSpan="19">
      <nz-card>
        <form nz-form #f="ngForm" se-container="1" labelWidth="100" style="width: 70%;">
          <se label="菜单名称">
            <input type="text" nz-input [(ngModel)]="menu.menuName" name="menuName" required />
          </se>
          <se label="上级菜单" error="请填写，最多32位">
            <nz-tree-select
              style="width: 250px;"
              [nzNodes]="treeSelectNodes"
              [nzAllowClear]="true"
              [nzShowSearch]="true"
              [nzDisabled]="pidDisabled"
              nzPlaceHolder="请选择上级菜单"
              [(ngModel)]="menu.pid"
              name="pid"
            >
            </nz-tree-select>
          </se>
          <se label="菜单类型">
            <nz-radio-group [(ngModel)]="menu.menuType" nzButtonStyle="solid" required name="menuType">
              <label nz-radio-button nzValue="M">目录</label>
              <label nz-radio-button nzValue="C">菜单</label>
              <label nz-radio-button nzValue="F">按钮</label>
            </nz-radio-group>
          </se>
          <se label="菜单图标" error="请填写，最多32位">
            <input type="text" nz-input [(ngModel)]="menu.icon" name="icon" />
          </se>
          <se *ngIf="menu.menuType != 'F'" label="菜单排序">
            <nz-input-number [(ngModel)]="menu.sortNo" name="sortNo" required [nzStep]="10"></nz-input-number>
          </se>
          <se *ngIf="menu.menuType == 'C'" label="路由地址" error="请填写，最多32位">
            <input type="text" nz-input [(ngModel)]="menu.path" name="path" required maxlength="32" />
          </se>
          <se label="语言key" error="请填写，最多32位">
            <input type="text" nz-input [(ngModel)]="menu.langKey" name="langKey" required maxlength="32" />
          </se>
          <se *ngIf="menu.menuType != 'M'" label="权限标识" error="请填写，最多64位">
            <input type="text" nz-input [(ngModel)]="menu.perms" name="perms" required maxlength="64" />
          </se>
          <se label="显示状态" error="请填写，最多32位">
            <nz-radio-group [(ngModel)]="menu.visible" name="visible">
              <label nz-radio nzValue="0">正常</label>
              <label nz-radio nzValue="1">失效</label>
            </nz-radio-group>
          </se>
          <se>
            <button nz-button nzType="primary" [disabled]="f.invalid" (click)="update()">保存</button>
          </se>
        </form>
      </nz-card>
    </div>
  </div>
</nz-card>
